version: "3.3"
services:
  grpc-server:
    build:
      context: ./grpc-server
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      DATABASE_SOURCE: root@tcp(db:3306)/adventar_dev
      FIREBASE_CREDENTIAL_JSON: ${FIREBASE_CREDENTIAL_JSON}
      CURRENT_DATE: '2019-12-05 00:00:00'
  envoy:
    build:
      context: ./envoy
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    command: /usr/local/bin/envoy -c /etc/envoy/envoy-local.yaml
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: adventar_dev
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - 13306:3306
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
